<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Lists</title>
</head>

<body>
    <h1>User Lists</h1>
    <% if (loading) { %>
        <p>Loading...</p>
        <% } else { %>
            <ul>
                <% users.forEach((user)=> { %>
                    <li>
                        <%= user.user_name %>
                    </li>
                    <% }); %>
            </ul>
            <ul>
                <% emails.forEach(email=> { %>
                    <li>
                        <%= email.email_address %>
                    </li>
                    <% }) %>
            </ul>
            <% } %>
                <a href="/">Back to home</a>
                <a href="/users/add-user">Add more user</a>
                <a href="/users/delete-user">Delete user</a>
</body>

</html>