<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup page</title>
</head>

<body>
    <% if (failed) { %>
        <h1>Something went wrong!</h1>
        <% } %>
            <h1>Sign up</h1>
            <form action="/auth/signup" method="post">
                <section>
                    <label for="user_name">Username</label>
                    <input type="text" id="user_name" name="user_name" autocomplete="username" required autofocus>
                </section>
                <section>
                    <label for="current_password">Password</label>
                    <input type="password" id="current-password" name="password" autocomplete="current-password"
                        required>
                </section>
                <button type="submit">Sign up</button>
                <a href="/auth/login">Already have an account?</a>
            </form>

</body>

</html>