<nav class="w-full py-4 px-4 fixed z-50">
  <div class="navbar bg-base-200 shadow-xl rounded-full">
    <div class="flex-1 px-2">
      <a class="text-xl font-bold" href="/">Bloggers</a>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="avatar placeholder">
            <div class="bg-neutral text-neutral-content w-10 rounded-full">
              <span class="text-xl"><%= user.user_name[0].toUpperCase() %></span>
            </div>
          </div>
        </div>
        <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
          <li>
            <a class="text-lg" href="/blog/add-post">New Blog</a>
          </li>
          <li>
            <a class="text-lg" href="/blog/my-posts">My Blogs</a>
          </li>
          <form action="/auth/logout" method="post">
            <li>
              <button class="text-lg" type="submit">Logout</button>
            </li>
          </form>
        </ul>
      </div>
    </div>
  </div>
</nav>